.title, .login-spotify {
  text-align: center;
  position: relative;
  top: 40%;
}

.login-spotify {
  padding-top: 50px;
}

.content {
  height:600px;
}

@media screen and (max-width: 992px) {
  .title {
  	font-size: 100px !important;
  }

  .login-spotify-btn {
    height: 80px !important;
    width: 300px;
    padding-top: 20px !important;
  }
}